// Colors
// --------------------------------------------------
// $color-orange:          #ff7615;
// $color-blue:            #1d8dc0;

// $gray-lighter:           #d5d5d5 !default;
// $gray-light:            #b4bcc2 !default;
 $gray-dark:             #414142 !default;
//$gray-darker:             #222 !default;
$white:       #fff !default;

$footer-height: 50px;

// Fonts
// --------------------------------------------------
// $font-family-proxima-nova: "proxima-nova", Helvetica, Arial, sans-serif !default;
// $font-family-base:        $font-family-proxima-nova !default;
//
// $headings-font-weight:    700 !default;
//
// $font-size-base:          16px !default;
//
// $font-size-small:         14px !default;
// $font-size-medium:        16px !default;
// $font-size-large:         18px !default;
// $font-size-larger:        20px !default;
//
// $font-size-h1:            36px !default;
// $font-size-h2:            30px !default;
// $font-size-h3:            24px !default;
// $font-size-h4:            20px !default;
// $font-size-h5:            18px !default;
// $font-size-h6:            16px !default;
//
// $headings-color:          #000 !default;
