<nav class="navbar navbar-default navbar-static-top">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="#">
        <img src="@routes.Assets.versioned("images/hortonworks-logo.png")" class="logo">
      </a>
    </div>

    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Map <span class="sr-only">(current)</span></a></li>
        <li><a href="https://github.com/orendain/trucking-iot" target="_blank">Github</a></li>
      </ul>
    </div>

  </div>
</nav>